<!DOCTYPE html>
<html dir="ltr" lang="pl">
<head>
<%- include("./partials/head.ejs") %>
    <link rel="canonical" href="https://rise-of-pasozyt.herokuapp.com/pytanie">
    <meta property="og:url" content="https://rise-of-pasozyt.herokuapp.com/pytanie">
</head>
<body>
    <main>
        <%- include("./partials/image.ejs") %>
        <div class="header_main">
            <header>
                <h1 class="header_title">Pytanie: <%= question.question %></h1>
            </header>
            <p>Nagroda: <%= question.reward %> pc</p>
            <details>
                <summary>Pokaż odpowiedź</summary>
                <%= question.answer %>
            </details>
        </div>
        <%- include("./partials/buttons.ejs") %>
    </main>
</body>
</html>