<!DOCTYPE html>
<html dir="ltr" lang="pl">
<head>
<%- include("./partials/head.ejs") %>
    <link rel="canonical" href="https://rise-of-pasozyt.herokuapp.com/pytanie">
    <meta property="og:url" content="https://rise-of-pasozyt.herokuapp.com/pytanie">
</head>
<body>
    <main>
        <%- include("./partials/image.ejs") %>
        <div class="header_main">
            <header>
                <h1 class="header_title">Pytanie: <%= question.question %></h1>
            </header>
            <p>Nagroda: <%= question.reward %> pc</p>
            <% if (question.answer) { %>
                    <details>
                    <summary>Pokaż odpowiedź</summary>
                    <%= question.answer %>
                </details>
            <% } else { %>
                <ul class="answers">
                    <%- question.a ? `<li class="a pointer" onclick="checkAnswer('a', '${question.correct}')">a. ${question.a}</li>` : "" %>
                    <%- question.b ? `<li class="b pointer" onclick="checkAnswer('b', '${question.correct}')">b. ${question.b}</li>` : "" %>
                    <%- question.c ? `<li class="c pointer" onclick="checkAnswer('c', '${question.correct}')">c. ${question.c}</li>` : "" %>
                    <%- question.d ? `<li class="d pointer" onclick="checkAnswer('d', '${question.correct}')">d. ${question.d}</li>` : "" %>
                    <div class="comment">(Naciśnij na poprawną odpowiedź)</div>
                </ul>

                <div class="result"></div>
                <script type="text/javascript" src="/ts/question.js"></script>
            <% } %>
        </div>
        <%- include("./partials/buttons.ejs") %>
    </main>
</body>
</html>