<!DOCTYPE html>
<html dir="ltr" lang="pl">
<head>
<%- include("./partials/head.ejs") %>
    <link rel="canonical" href="https://rise-of-pasozyt.herokuapp.com/szansa">
    <meta property="og:url" content="https://rise-of-pasozyt.herokuapp.com/szansa">
</head>
<body>
    <main>
        <header>
            <%- include("./partials/image.ejs") %>
                <div class="header_main">
                    <h1 class="header_title">Szansa: <%= chance.title %></h1>
                    <p><%= chance.result %></p>
                    <%- include("./partials/buttons.ejs") %>
                </div>
        </header>
    </main>
</body>
</html>