<!DOCTYPE html>
<html dir="ltr" lang="pl">
<head>
<%- include("./partials/head.ejs") %>
    <link rel="canonical" href="https://rise-of-pasozyt.herokuapp.com/szansa">
    <meta property="og:url" content="https://rise-of-pasozyt.herokuapp.com/szansa">
</head>
<body>
    <main>
        <%- include("./partials/image.ejs") %>
        <div class="header_main">
            <header>
                <h1 class="header_title">Szansa: <%= chance.title %></h1>
            </header>
            <p><%= chance.result %></p>
        </div>
        <%- include("./partials/buttons.ejs") %>
    </main>
</body>
</html>